/* 行为相关颜色 */
$cl-main:#00CDA4;
$cl-main2:#32E6B4;
$cl-main3:#00b994;
$cl-yellow:#FFE200;
$cl-red:#E24E4E;
$cl-white:#FFFFFF;
$cl-black:#353535;
$cl-gray1:#D9D9D9;
$cl-gray2:#B3B3B3;
$cl-gray3:#888888;
$cl-gray4:#f7f7f7;
$cl-gray5:#f2f2f2;

/* 文字基本大小*/
$fs-120:120rpx;
$fs-64:64rpx;
$fs-56:56rpx;
$fs-45:45rpx;
$fs-40:40rpx;
$fs-38:38rpx;
$fs-36:36rpx;
$fs-34:34rpx;
$fs-32:32rpx;
$fs-30:30rpx;
$fs-28:28rpx;
$fs-26:26rpx;
$fs-24:24rpx;
$fs-22:22rpx;
$fs-20:20rpx;

/* 圆角 */
$radius-30:30rpx;
$radius-15:15rpx;